.content-title{
    position: absolute;
    width: 80%;
    height: 30%;
    margin-left: 10%;
    margin-top: 2%;
    background-color: white;
}
.content{
    position: absolute;
    width: 80%;
    /*height: 70%;*/
    margin-left: 10%;
    margin-top: 30%;
    background-color: white;
}

#preview{
    position: absolute;
    width: 80%;
    /*height: 70%;*/
    margin-left: 10%;
    margin-top: 17%;
    background-color: white;

}
.title{
    color: black;
    font-size: 35px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
}

.content-title p{
    float: left;
    /*margin-right: 10px;*/
    color: black;
    font-size: 15px;
    margin-left: 10px;
}
.cat{
    height: 60%;
    width: 100%;

}
.cat2{
    /*position: absolute;*/
    background-color: #F5F5F5;
    height: 18%;
    width: 100%;

}
.cat2 p{
    /*display: table-cell;*/

    vertical-align: middle;
    margin-top: 1%;

}
.comments{
    bottom: 0;
    height: 600px;
}

.Comment_box{
    margin-left: 2%;
    margin-top: 10%;
    height: 64px;
    width: 75%;
    background: rgba(248,249,251,0.8);
    border: 1px solid #dadde0;
    border-radius: 4px;
    box-sizing: border-box;
}

.Comment_reply{
    width: 95%;
    height: 60%;
    margin-top: 3%;
    background: rgba(248,249,251,0.8);
    margin-left: 2%;
}

.Comment_photo{
    height: 70px;
    width: 70px;
    margin-left: 2%;
}
.Comment_add{
    margin-top: 10%;
    height: 64px;
    width: 70px;
    vertical-align: top;
    background-color: #ccccd7;
    color: white;
    border-radius: 6px;
    border:none;
}

.Comment_emoji{
    height: 64px;
    width: 64px;
    background-color: white;
    border-radius: 6px;
    border:none;
    opacity:0;
}

.Comment_replyList{
    height: 80%;
    width: 80%;
    margin-left: 10%;
}
.Comment_replyPage{
    height: 20%;
    width: 80%;
    margin-left: 10%;
}

